@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="start">
    start
</button>

<button @onclick="Colling">
    colling
</button>

@code {

    private void start()
    {
#if ANDROID
    if (!TestNotification.Platforms.Android.AndroidServiceManager.IsRunning)
    {
    TestNotification.Platforms.Android.AndroidServiceManager.StartMyService();
    }
#endif

    }
    private void Colling()
    {
#if ANDROID
 TestNotification.Platforms.Android.AndroidServiceManager.MainActivity.ShowIncomingCallNotification("Bingo" , "ahmed rafaat");
#endif
    }
}